<div class="row">
  <div class="col-md-2" *ngFor="let timer of timers$ | async">
    <app-timer [timer]="timer" (remove)="removeTimer($event)"></app-timer>
  </div>
</div>

<div class="row">
  <button class="btn" routerLink="/timers/create">New Timer</button>
</div>
<hr />

<h2>Todo</h2>
<ol>
  <li>Terminer l'ajout de timer</li>
  <li>Nettoyer, refactorer</li>
  <li>Retirer le store "collection", c'est un sous ensemble de toutes les entités chargées. Dans l'exemple ngRx "books" contenait
    à la fois des résultats de recherche et les livres ajoutés à la colleciton. Mais pour nous, il n'y a que "timers". On
    peut donc supprimer collection.</li>
  <li>Comprendre et mettre la stratégie d'update des components à onPush (il y en a dans l'exemple ngrx)</li>
  <li>Guard pour s'assurer qu'on ait bien le timer loadé quand on fait /edit/:id / https://toddmotto.com/preloading-ngrx-store-route-guards</li>
  <li>Mettre en place les test unitaires (composants / effects / reducers)</li>
  <li>Gérer l'ordre des timers avec un drag and drop</li>
</ol>
