<clr-main-container>
  <!-- <clr-header class="header header-6">
    <div class="branding">
      <a class="nav-link" href="javascript://">
        <clr-icon shape="clock" class="is-inverse"></clr-icon>
        <span class="title">TickTickTick</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/timers" routerLinkActive="active" class="nav-link nav-text">Timers</a>
      <a routerLink="/reports" routerLinkActive="active" class="nav-link nav-text">Reports</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-text">
        Create an account
      </a>
      <a href="javascript://" class="nav-link nav-text">
        Log in
      </a>
    </div>
  </clr-header>-->
  <div class="content-container">
    <div class="content-area">

      <router-outlet></router-outlet>

    </div>
  </div>
</clr-main-container>
